{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Your shopping list</h1>
    <div>
        <form method="POST" action="{% url 'delete_all_shopping_items' %}">
            {% csrf_token %}
            <button class="button"> Delete All </button>
        </form>
        <ul>
            {% for item in shoppingitem_list %}
                <li> {{ item.food_item.name }} </li>
            {% endfor %}
        </ul>
    </div>
</main>

{% endblock content %}