{% extends 'base.html' %}


{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <h1>{{ mealplan.name }}</h1>
    <p>
      To be served on {{ mealplan.date }}
    </p>
    <h2>Recipes</h2>
    <ol>
      {% for recipe in mealplan.recipes.all %}
        <li><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a></li>
      {% endfor %}
    </ol>
  </main>
{% endblock content %}
